name: Purge jsDelivr Cache

on:
  push:
    branches:
      - main
    paths:
      - 'HyperTizenUI/**'
  workflow_dispatch:

jobs:
  purge-cache:
    runs-on: ubuntu-latest
    steps:
      - name: Purge jsDelivr cache for entire repository
        uses: gacts/purge-jsdelivr-cache@v1
        with:
          url: |
            https://cdn.jsdelivr.net/gh/${{ github.repository }}@main/*
